<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.board">
	<!-- 게시판 목록 -->
	<select id="list" resultType="BoardDTO">
		SELECT * FROM t_board
	</select>
	
	<!-- 게시판 글쓰기 -->
	<insert id="insert">
		INSERT INTO t_board(bno, writer, content, title)
		VALUES(seq_board.NEXTVAL, #{writer}, #{content}, #{title})
		<selectKey resultType="int" keyProperty="bno" order="AFTER">
        	SELECT seq_board.CURVAL      
    	</selectKey> 
	</insert>
</mapper>